<div class="contact-page">
    <p-card class="contact-card">
      <ng-template pTemplate="header">
        <h2>Contact Me</h2>
      </ng-template>
  
      <ng-template pTemplate="content">
        <div class="contact-details">
          <p><i class="pi pi-envelope"></i> Email: <a href="mailto:saswatsahoo125@gmail.com">{{ email }}</a></p>
          <p><i class="pi pi-linkedin"></i> LinkedIn: 
            <a href="https://www.linkedin.com/in/saswat-sahoo" target="_blank">LinkedIn Profile</a>
          </p>
          <p><i class="pi pi-twitter"></i> Twitter: 
            <a href="https://x.com/saswatsahoo125" target="_blank">Twitter Profile</a>
          </p>
        </div>
      </ng-template>
    </p-card>
  </div>
  