<p-menubar>
    <ng-template pTemplate="start">
      <img src="assets\logo.png" alt="Logo" height="40">
    </ng-template>
  
    <ng-template pTemplate="end">
      <div class="nav-links">
        <p-button label="Home" routerLink="/"></p-button>
        <p-button label="About" routerLink="/about"></p-button>
        <p-button label="Experience" routerLink="/experience"></p-button>
        <p-button label="Skills" routerLink="/skills"></p-button>
        <p-button label="Projects" routerLink="/projects"></p-button>
        <p-button label="Contact" routerLink="/contact"></p-button>
      </div>
    </ng-template>
  </p-menubar>
  