<div class="home-container">
    <div class="hero-section">
      <h1 class="fade-in">Welcome to My Portfolio</h1>
      <h2 class="typing-name"><span class="typing-text"></span></h2>
  
      <div class="button-container">
        <p-button label="About Me" routerLink="/about" class="glow-button"></p-button>
      </div>
    </div>
  
    <div class="skills-section">
      <h2>My Skills</h2>
      <div class="skills-icons">
        <i class="fab fa-java"></i>
        <i class="pi pi-database"></i>
        <i class="pi pi-cloud"></i>
        <i class="pi pi-desktop"></i>
      </div>
    </div>
  </div>
  