// @import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/themes/lara-dark-teal/theme.css"; 
@import "primeng/resources/primeng.min.css"; 
@import "primeicons/primeicons.css"; 
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";



body {
    background: url("assets/background.png") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85); 
    color: white; 
}

